.hewo{
  background-image: url('../images/bg.jpg');
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
}

/* #himalayasText {
  opacity: 0.7 !important;
}


.home {
  background-image: url('../images/bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  margin: 0; 
}

.home::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.603);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
} */
